form {
  margin-top: 20px;
}

.container {
  margin-bottom: 2em;
  max-width: 800px;
  font-size: 18px;
}

.container:first-child {
  margin-bottom: 1em;
}

.label {
  float: left;
  margin-right: 2em;
  padding: 1em 0;
  vertical-align: center;
}

.helptext {
  clear: both;
}

.helptext p {
  line-height: 1;
}

code {
  margin: 1em 0;
  padding: 1em 2em;
  display: block;
}

.input-group {
  float: right;
  width: 50%;
}

.input-group input {
  padding: 1em;
}

.input-group input[type='number'],
.input-group input[type='text'],
.input-group textarea,
.input-group select {
  width: 100%;
}

.input-group input[type='checkbox'] {
  margin: 1.34em;
  margin-right: 0;
  float: right;
}

.input-group select {
  margin: 0.9em;
  margin-right: 0;
  float: right;
}

.container > label {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.container .input-group {
  width: initial;
  flex: 1 1 auto;
}
.card{
  max-width: 800px!important;
}
input{
  line-height: 1!important;
}
#settings,.settings-header{
  display: flex;
  flex-direction: row;
}
#settings .form, #settings .instructions,.settings-header .left,.settings-header .right{
  width: 50%;
}
.settings-header img{
  width: 100%;
  box-shadow: 3px 3px 20px #0000003d;
  max-width: 650px;
  margin: auto;
}
.settings-header .right {
  display: flex;
}
.settings-header .left p{
  font-size: 1.2rem;
  padding-right: 10px;
}
@media screen and (max-width: 990px) {
  #settings,.settings-header{
    flex-direction: column;
  }
  #settings .form, #settings .instructions,.settings-header .left,.settings-header .right{
    width: 100%;
  }
}